{% if instance.dir_ports is defined %}

## Uncomment this to mirror directory information for others. Please do
## if you have enough bandwidth.
{% for port in instance.dir_ports %}
DirPort {{ port }}
{% endfor %}
{% elif instance.dir_port is defined %}

## Uncomment this to mirror directory information for others. Please do
## if you have enough bandwidth.
DirPort {{ instance.dir_port }}
{% endif %}
