{% include 'instance-header.j2' %}
{% if instance.dir_ports is defined %}

## Uncomment this to mirror directory information for others. Please do
## if you have enough bandwidth.
{% for port in instance.dir_ports %}
DirPort {{ port }}
{% endfor %}
{% if tor_exit_notice is defined %}

## Uncomment to return an arbitrary blob of html on your DirPort. Now you
## can explain what Tor is if anybody wonders why your IP address is
## contacting them. See contrib/tor-exit-notice.html in Tor's source
## distribution for a sample.
DirPortFrontPage /etc/tor/tor-exit-notice.html
{% endif %}
{% endif %}
{% if tor_my_family is defined %}

## Uncomment this if you run more than one Tor relay, and add the identity
## key fingerprint of each Tor relay you control, even if they're on
## different networks. You declare it here so Tor clients can avoid
## using more than one of your relays in a single circuit. See
## https://www.torproject.org/docs/faq#MultipleRelays
## However, you should never include a bridge's fingerprint here, as it would
## break its concealability and potentially reveal its IP/TCP address.
{% for fingerprint in tor_my_family %}
MyFamily {{ fingerprint }}
{% endfor %}
{% endif %}

{% if instance.exit_addresses is defined %}
## IP address(es) to use for exit connections
{% for address in instance.exit_addresses %}
OutboundBindAddressExit {{ address }}
{% endfor %}

{% endif %}
## Allow clients to use us for IPv6 traffic.
IPv6Exit {{ instance.ipv6_exit | default(0) }}
{% if tor_exit_policy is defined %}

## A comma-separated list of exit policies. They're considered first
## to last, and the first match wins.
##
## If you want to allow the same ports on IPv4 and IPv6, write your rules
## using accept/reject *. If you want to allow different ports on IPv4 and
## IPv6, write your IPv6 rules using accept6/reject6 *6, and your IPv4 rules
## using accept/reject *4.
##
## If you want to _replace_ the default exit policy, end this with either a
## reject *:* or an accept *:*. Otherwise, you're _augmenting_ (prepending to)
## the default exit policy. Leave commented to just use the default, which is
## described in the man page or at
## https://www.torproject.org/documentation.html
##
## Look at https://www.torproject.org/faq-abuse.html#TypicalAbuses
## for issues you might encounter if you use the default exit policy.
##
## If certain IPs and ports are blocked externally, e.g. by your firewall,
## you should update your exit policy to reflect this -- otherwise Tor
## users will be told that those destinations are down.
##
## For security, by default Tor rejects connections to private (local)
## networks, including to the configured primary public IPv4 and IPv6 addresses,
## and any public IPv4 and IPv6 addresses on any interface on the relay.
## See the man page entry for ExitPolicyRejectPrivate if you want to allow
## "exit enclaving".
##
{% if tor_exit_policy_blocks %}
%include /etc/tor/exit-policy-blocks
{% endif %}
{% for policy in tor_exit_policy %}
ExitPolicy {{ policy }}
{% endfor %}
{% elif tor_reduced_exit_policy is defined %}

## Use the reduced exit policy
ReducedExitPolicy {{ tor_reduced_exit_policy }}
{% endif %}
