## See 'man tor', or https://www.torproject.org/docs/tor-manual.html,
## for more options you can use in this file.
##
## Tor will look for this file in various places based on your platform:
## https://www.torproject.org/docs/faq#torrc

{% if tor_avoid_disk %}
AvoidDiskWrites 1
{% endif %}
HeartbeatPeriod 1 hours

## Tor opens a SOCKS proxy on port 9050 by default -- even if you don't
## configure one below. Set "SOCKSPort 0" if you plan to run Tor only
## as a relay, and not make any local application connections yourself.
SOCKSPort {{ tor_default_socks_port }}
{% if tor_default_hidden_services %}

############### This section is just for location-hidden services ###

## Once you have configured a hidden service, you can look at the
## contents of the file ".../hidden_service/hostname" for the address
## to tell people.
##
## HiddenServicePort x y:z says to redirect requests on port x to the
## address y:z.
{% for hs in tor_default_hidden_services %}

HiddenServiceDir /var/lib/tor/hs_{{ hs.name }}/
{% if hs.authorize_client is defined %}
HiddenServiceAuthorizeClient {{ hs.authorize_client }}
{% endif %}
{% for port in hs.ports %}
HiddenServicePort {{ port }}
{% endfor %}
{% if hs.version is defined %}
HiddenServiceVersion {{ hs.version }}
{% endif %}
{% endfor %}
{% endif %}
